body{
    background-color: #f9fad2;
}
#main_topic{
    text-align: center;
    background-color: white;
}
#container{
    border-radius: 20px;
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
}

.main_topic{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.file_upload_label {
    background: red;
    color: white;
    cursor: pointer;
}

#file_upload {
    display: none;
}